.container{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: rgba(2, 2, 2, 0.479);
  /* width: 20vw; */
  height: 60vh;
  margin: 15px;
  padding: 5px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.726);
  transition-duration: 0.5s;
}
.container:hover{
  transform: scale(1.05)
}
.h2{
  margin: 10px;
  text-align: left;
}

.cardImg{
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  transition-duration: 1s;
}
.cardImg:hover{
  transform: scale(110%);
  transition-duration: 1s;
}
/* @media (max-width:600px){
  .container{
    width: 40vw;
  }
} */